@model Library.Models.Usuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RNC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RNC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoUsuario.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoUsuario.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seguridad_Estatus.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seguridad_Estatus.Descripcion)
        </dd>

    </dl>
</div>
<
<fieldset>
    <legend>Agregar Roles</legend>
    @Html.Partial("AddPermission", Model.PermissionsNotInThisRole, new ViewDataDictionary { { "RoleId", Model.Id } })
</fieldset>
<fieldset>
    <legend>Agregar Permiso</legend>
    @Html.Partial("PermissionsByRol", Model.Permisos, new ViewDataDictionary { { "RoleId", Model.Id } })
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver al Listado", "Index")
</p>
